body {
  position: relative;
  font-family: Helvetica, sans-serif;
}

nav,
.hero {
  background-color: #f1f3ff !important;
}

.navbar .navbar-nav .nav-item {
  margin-right: 32px;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: black;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #0d28a6;
}

.btn-register {
  background-color: #5cb85f !important;
  color: white !important;
  padding: 8px 12px 8px 12px !important;
  width: auto;
}

.btn-register:hover {
  background-color: #7ed681 !important;
  color: white !important;
}
